.janela{
    width: 975px;
    height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid black;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #5D6BB7;
    height: 18%;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-left: 20px;
}

.navbar p{
    color: #F1F1F1;
    text-align: center;
    font-family: 'Poppins';
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
}

.primeiraJanela{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

/*div com nome codigo e descrição*/
.primeiraJanela1{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
    padding: 50px;
    padding-top: 90px;
}

.primeiraJanela1 input{
    height: 70px;
    border-radius: 40px;
    border: 1px solid #D9D9D9;
    font-size: 20px;
    background-color: #D9D9D9;
}
.primeiraJanela1 input::placeholder{
    padding-left: 20px;
    color: #5D6BB7;
    font-size: 25px;
}

.primeiraJanela1 :last-child{
    padding-bottom: 90px;
    height: 150px;
    text-align: start; 
}

/*div com datas e botao de salvar*/
.segundaJanela{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
    padding: 50px;
    padding-top: 80px;
}

.segundaJanela input{
    height: 70px;
    border-radius: 40px;
    border: 1px solid #D9D9D9;
    font-size: 20px;
    background-color: #D9D9D9;
}

.segundaJanela input::placeholder{
    padding-left: 20px;
    color: #5D6BB7;
    font-size: 25px;
}

.segundaJanela button{
    border-radius: 50px;
    font-size: 30px;
}